@font-face {
    font-family: 'iconfont';  /* project id 488029 */
    src: url('//at.alicdn.com/t/font_488029_ynom0c5t2r7o80k9.eot');
    src: url('//at.alicdn.com/t/font_488029_ynom0c5t2r7o80k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_488029_ynom0c5t2r7o80k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_488029_ynom0c5t2r7o80k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_488029_ynom0c5t2r7o80k9.svg#iconfont') format('svg');
  }

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-geren:before {content: "\e60f";}
.icon-fenlei:before{content:'\e628';}
.icon-home2:before{content:'\e618';}
.icon-zhifubao:before{content:'\e63d';}
.icon-weixin:before{content:'\e6cf';}
.icon-share:before{content:'\e61f';}
.icon-kefu:before{content:'\e60c';}
.icon-kefu1:before{content:'\e623';}
.icon-kefu2:before{content:'\e697';}
.icon-xiaoxi:before{content:"\e700";}



.icon-iorder1:before { content: "\e76f"; }
.icon-iorder2:before { content: "\e650"; }
.icon-iorder3:before { content: "\e6f3"; }
.icon-iorder4:before { content: "\e644"; }
.icon-iorder5:before { content: "\e8c8"; }

.icon-cate:before {
    content: "\e610";
}

.icon-left:before {
    content: "\e7a7";
}

.icon-zuojiantou:before {
    content: "\e611";
}

.icon-zjt:before {
    content: "\e60b";
}

.icon-delete:before {
    content: "\e605";
}

.icon-left-arrow:before {
    content: "\e604";
}

.icon-large:before {
    content: "\e601";
}

.icon-complete:before {
    content: "\e630";
}

.icon-payment:before {
    content: "\e64f";
}

.icon-message:before {
    content: "\e627";
}

.icon-search:before {
    content: "\e602";
}

.icon-cart:before {
    content: "\e61a";
}

.icon-add:before {
    content: "\e60a";
}

.icon-edit:before {
    content: "\e63a";
}

.icon-cancel:before {
    content: "\e617";
}

.icon-mine:before {
    content: "\e609";
}

.icon-waittake:before {
    content: "\e696";
}

.icon-right:before {
    content: "\e600";
}

.icon-home:before {
    content: "\e603";
}