@import "minx";

body{
  overflow: hidden;
}
/隐藏横向和纵向滚动条/
::-webkit-scrollbar {
  width: 0em;
}
::-webkit-scrollbar:horizontal {
  height: 0em;
}
.catename{
  width:100%;
  padding-top: 46px;
  overflow: hidden;
  background: #F5F5F5;
  //padding: 46px 0 48px 0;
  display: flex;
  flex-direction: row;
  .catename-left{
    width:104px;
    overflow: auto;
    //height: calc(100% - 94px);/*no*/
    .catelist{
      li{
        width:89%;
        height:53px;
        background: #FFFFFF;
        line-height:54px;
        text-align: center;
        border-bottom:1px solid #F5F5F5;
        font-size: 14px;
        color: #666666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
      }
    }
  }
  .catename-right{
    overflow: auto;
    margin-left:9px;
    flex:1;
    .main{
      .secondname{
        height:54px;
        color: #333333;
        line-height:54px;
        font-size: 14px;
        background: #F5F5F5;
        font-weight: bold;
      }
      .thirdlist{
        ul{
          display: flex;
          flex-wrap:wrap;
          align-content: flex-start;
          padding:4px;
          margin-right:8px;
          background: #FFFFFF;
          li{
            flex:1;
            flex-grow:0;
            height:107px;
            margin:4px ;

              img{
                display: block;
                width:74px;
                height: 74px;
              }
              span{
                display: block;
                line-height: 17px;
                font-size: 12px;
                color: #666666;
                text-align: center;
                margin-top: 8px;
              }
          }
        }
      }
    }
  }
}


.active{
  background: #F5F5F5 !important;
  color: $WtsColor !important;
}
